.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(8, 3, 37, 0.875), rgba(0, 0, 0, .2)), url('../../assets/hero-bg.png') no-repeat center center/cover;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}